.navbar {
  padding: 2rem;
  box-shadow: var(--drob-shadow);

  &__container {
    display: flex;
    align-items: center;
    width: var(--container-width);
    margin: 0 auto;
  }

  &__img {
    width: 100px;
  }
}
